{% extends 'base.html' %}

{% block content %}

<div style="margin:auto; width:50%;">

{% if monitor %}
    <div class="position_name" z>
        <h2>类型：{{monitor.monitor_type}} </h2>

    </div>
    <hr>
    <div class="position_responsibility" style="width:600px;">
        <h3>描述：</h3>
        <pre style="font-size:16px">{{monitor.description}}
        </pre>
    </div>
    
    <hr>
    <div class="position_requirement" style="width:600px; ">
        <h3>创建人：</h3>
        <pre style="font-size:16px">{{monitor.creator}}
        </pre>
    </div>

    <div class="apply_position">
        <input type="button" class="btn btn-primary" style="width:120px;" value="提交" onclick="location.href='/resume/add/?apply_position={{job.job_name}}&city={{job.city_name}}'"/>
    </div>
{% else %}
    <p>不存在</p>
{% endif %}

{% endblock %}
</div>